@font-face {
  font-family: 'iconfont';  /* project id 1012286 */
  src: url('//at.alicdn.com/t/font_1012286_240xpp3jzqx.eot');
  src: url('//at.alicdn.com/t/font_1012286_240xpp3jzqx.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1012286_240xpp3jzqx.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1012286_240xpp3jzqx.woff') format('woff'),
  url('//at.alicdn.com/t/font_1012286_240xpp3jzqx.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1012286_240xpp3jzqx.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yincang:before {
  content: "\e627";
}

.icon-xianshi:before {
  content: "\e61e";
}

.icon-baobiaoguanli:before {
  content: "\e62c";
}

.icon-caiwu:before {
  content: "\e62d";
}

.icon-cangkuguanli:before {
  content: "\e62e";
}

.icon-shezhi:before {
  content: "\e62f";
}

.icon-jibenziliao:before {
  content: "\e630";
}

.icon-yewucaozuo:before {
  content: "\e631";
}

.icon-mima:before {
  content: "\e632";
}

.icon-yonghuming:before {
  content: "\e633";
}

.icon-dianhua:before {
  content: "\e634";
}

.icon-jinxiaocuntubiao:before {
  content: "\e635";
}

.icon-gongzuotaicopy:before {
  content: "\e63d";
}

.icon-suojin:before {
  content: "\e63e";
}

.icon-shangchuan:before {
  content: "\e63f";
}

.icon-zhankai:before {
  content: "\e640";
}
.icon-fujian:before{
  content: "\e605";
}
.icon-dianhua1:before{
  content: "\e66c";
}
.icon-yanzhengma:before{
  content: "\e66b";
}
